@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body {
  @apply font-sans;
}

.brand {
  @apply text-3xl font-medium text-indigo-500;
}

.reveal {
  opacity: 0;
}

.reveal.visible {
  opacity: 1;
}

#menu-menu-1,
#menu-menu-alt {
  @apply list-none flex flex-wrap flex-col lg:flex-row items-center content-center lg:content-end justify-center lg:justify-end;

  li {
    @apply pl-4 my-4 lg:my-0;
  }
}

.nav li a.active,
.current_page_item a {
  border-bottom: 2px solid #f53d5c !important;
}

#menu-social-1 li,
#menu-social li {
  display: inline-block;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

#menu-social-1 li a,
#menu-social li a {
  border-bottom: none;

  &:hover,
  &:focus {
    border-bottom: none;
    color: #f53d5c;
  }
}

a.cli-plugin-button {
  border-bottom: none;

  &:hover,
  &:focus {
    border-bottom: none;
  }
}

html {
  scroll-behavior: smooth;
}

section.bg-marco:last-child {
  display: none;
}

$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 8px;
